main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'EB Garamond', serif;
}

.title {
  font-size: 60px;
  font-weight: 400;
  position: absolute;
  background: white;
  right: -75px;
  bottom: 1em;
  padding: 0.25em;
}

.big-box {
  height: 50%;
  width: 50%;
  position: relative;

  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(to bottom, #0693e3, #eb144c) round;
  border-image-slice: 1;
  border-image-width: 4px;
  animation: cycle 1s infinite;
}

#circle-container {
  /* visibility: hidden; */
  /* display: none; */
}