.App {
  margin: 0;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#root, .App {
  height: 100vh;
}


nav, footer {
  height: 50px;
  display: flex;
  align-items: center;
}

nav {
  justify-content: space-between;
}

#about:hover {
  border: .125rem solid black;
}

#about svg {
  width: 16px;
}

footer {
  justify-content: flex-end;
}

button {
  outline: none;
}

.controls {
  display: flex;
  align-items: center;
}

.veil {
  background: rgba(20,20,20, 0.1);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}