.circle {
  font-size: 150px;
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 1em;
  height: 1em;
}

.blur {
  filter: blur(0.02em);
}

.gradient-container {
  position: relative;
  overflow: hidden;
  margin: auto;
}

.gradient-clip {
  top: calc(50% - 0.5em);
  clip: rect(0, 1em, 1em, 7.5em);
}

.gradient-slice {
  transform: rotate(45deg);
}

.gradient-clip, .gradient-slice:nth-child(n+25) {
  clip: rect(0, 1em, 1em, 0.5em);
}

.gradient-slice, .gradient-clip:nth-child(n+25) {
  clip: rect(0, 0.5em, 1em, 0);
}